.post_block {
    width: 80%;
    margin: 0 auto;
}
.post_title{
    font-size: 16px;
    font-weight: 600;
    padding: 10px 0;
    border-bottom: 2px solid #727272;
}
.post_content {
    padding: 15px 10px;
}