.new_post_page {
    padding-top: 20px;
}
.new_post_block {
    width: 80%;
    margin: 0 auto;
}
.new_post_title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;

}
.new_post_input {
    margin-top: 20px;
}
.new_post_textarea {
    margin-top: 10px;
    
}