.new_post_page {
    padding-top: 20px;
    background: #c5c5c5;
    height: 94.8vh;
}
.new_post_block {
    width: 80%;
    margin: 0 auto;
}
.new_post_title {
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
}
.new_post_input {
    margin-top: 20px;
}
.new_post_textarea {
    margin-top: 10px;
}
.new_post_button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: #202020;
    font-weight: 600;
    background: #b3b3b3;
    transition: all 0.5s ease;
    margin-top: 10px;
    cursor: pointer;
}
.new_post_button:hover {
    background: #a9a9a9;
}