.form__sing__in {
    width: 300px;
    margin: 5% auto 0;
    background: #949494;
    padding: 20px;
    border-radius: 5px;
}
.input__item {
    margin-top: 8px;
}
.input__label {
    margin-bottom: 3px;
}
.button {
    padding: 5px 15px;
    margin-top: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}